.qunMtKhuChild {
  position: absolute;
  top: 0;
  left: 592px;
  background-color: var(--white2);
  width: 848px;
  height: 810px;
}
.frameIcon {
  top: 153px;
  left: 635px;
  width: 711px;
  height: 560px;
  overflow: hidden;
}
.frameIcon,
.mtKhu,
.tLiMt {
  position: absolute;
}
.tLiMt {
  top: 39.51%;
  left: 13.75%;
  font-size: var(--bold3-size);
  line-height: 33px;
  color: var(--gray-gray-500);
}
.mtKhu {
  top: 0;
  left: 0;
  line-height: 27px;
}
.frameChild {
  left: 0;
}
.frameChild,
.frameChild1,
.frameChild2,
.frameChild3,
.frameChild4,
.frameDiv,
.frameInner,
.frameItem {
  position: absolute;
  top: 0;
  border-radius: var(--br-sm);
  background-color: var(--gray-blue-gray-5-text);
  width: 8px;
  height: 8px;
  overflow: hidden;
}
.frameItem {
  left: 48px;
}
.frameInner {
  left: 12px;
}
.frameDiv {
  left: 60px;
}
.frameChild1 {
  left: 24px;
}
.frameChild2 {
  left: 72px;
}
.frameChild3 {
  left: 36px;
}
.frameChild4 {
  left: 84px;
}
.frameParent,
.ueyeSlashIcon {
  position: relative;
  flex-shrink: 0;
}
.frameParent {
  background-color: var(--white2);
  width: 92px;
  height: 8px;
}
.ueyeSlashIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.input,
.mtKhuParent {
  position: absolute;
  width: 400px;
}
.input {
  top: 31px;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--white2);
  border: 1.5px solid var(--gray-gray-100);
  box-sizing: border-box;
  height: 44px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg) var(--padding-sm)
    var(--padding-md);
  align-items: center;
  justify-content: space-between;
}
.mtKhuParent {
  top: 365px;
  left: 94px;
  height: 75px;
}
.nhpLiMt {
  position: relative;
  line-height: 27px;
}
.frameGroup {
  position: relative;
  width: 92px;
  height: 8px;
  flex-shrink: 0;
}
.input1 {
  border-radius: var(--br-sm);
  background-color: var(--white2);
  border: 1.5px solid var(--gray-gray-100);
  box-sizing: border-box;
  width: 400px;
  height: 44px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg) var(--padding-sm)
    var(--padding-md);
  align-items: center;
  justify-content: space-between;
}
.nhpLiMtKhuParent {
  position: absolute;
  top: 456px;
  left: 94px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.button1 {
  position: relative;
  line-height: 24px;
}
.button,
.logoAltaIcon {
  position: absolute;
  overflow: hidden;
}
.button {
  top: 579px;
  left: 219px;
  border-radius: var(--br-sm);
  background-color: var(--orange-orange-400);
  box-shadow: var(--down);
  width: 162px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--bold2-size);
  color: var(--white2);
}
.logoAltaIcon {
  top: 82px;
  left: 208px;
  width: 170px;
  height: 136px;
  object-fit: cover;
}
.qunMtKhu {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--bg);
  width: 100%;
  height: 810px;
  overflow: hidden;
  text-align: left;
  font-size: var(--reg2-size);
  color: var(--color-darkslategray);
  font-family: var(--reg4);
}
