.saiMkChild {
  position: absolute;
  top: 0;
  left: 592px;
  background-color: var(--white2);
  width: 848px;
  height: 810px;
}
.vectorIcon {
  position: absolute;
  height: 11.23%;
  width: 42.01%;
  top: 78.52%;
  right: 11.39%;
  bottom: 10.25%;
  left: 46.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tnNgNhp {
  position: relative;
  line-height: 27px;
}
.saySomeThing {
  position: relative;
  font-weight: 300;
}
.input {
  border-radius: var(--br-sm);
  background-color: var(--white2);
  border: 1.5px solid var(--red);
  box-sizing: border-box;
  width: 400px;
  height: 44px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-2xl) var(--padding-sm)
    var(--padding-md);
  align-items: center;
  justify-content: flex-start;
  color: var(--gray-blue-gray-5-text);
}
.tnNgNhpParent {
  position: absolute;
  top: 293px;
  left: 94px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.frameChild {
  left: 0;
}
.frameChild,
.frameChild1,
.frameChild2,
.frameChild3,
.frameChild4,
.frameDiv,
.frameInner,
.frameItem {
  position: absolute;
  top: 0;
  border-radius: var(--br-sm);
  background-color: var(--gray-blue-gray-5-text);
  width: 8px;
  height: 8px;
  overflow: hidden;
}
.frameItem {
  left: 48px;
}
.frameInner {
  left: 12px;
}
.frameDiv {
  left: 60px;
}
.frameChild1 {
  left: 24px;
}
.frameChild2 {
  left: 72px;
}
.frameChild3 {
  left: 36px;
}
.frameChild4 {
  left: 84px;
}
.frameParent {
  position: relative;
  width: 92px;
  height: 8px;
  flex-shrink: 0;
}
.input1,
.ueyeSlashIcon {
  flex-shrink: 0;
  overflow: hidden;
}
.ueyeSlashIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.input1 {
  border-radius: var(--br-sm);
  background-color: var(--white2);
  border: 1.5px solid var(--red);
  box-sizing: border-box;
  width: 400px;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg) var(--padding-sm)
    var(--padding-md);
  align-items: center;
  justify-content: space-between;
}
.mtKhuParent {
  position: absolute;
  top: 384px;
  left: 94px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.qunMtKhu {
  position: absolute;
  top: 48px;
  left: 30px;
  line-height: 21px;
  cursor: pointer;
}
.button1 {
  position: relative;
  line-height: 24px;
}
.button,
.qunMtKhuParent {
  position: absolute;
  width: 162px;
}
.button {
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--orange-orange-400);
  box-shadow: var(--down);
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--bold2-size);
  color: var(--white2);
}
.qunMtKhuParent {
  top: 516px;
  left: 216px;
  height: 69px;
  font-size: var(--reg3-size);
  color: var(--red);
}
.logoAltaIcon {
  position: absolute;
  top: 82px;
  left: 208px;
  width: 170px;
  height: 136px;
  overflow: hidden;
  object-fit: cover;
}
.groupIcon {
  height: 38.68%;
  width: 15.6%;
  top: 29.88%;
  right: 30.8%;
  bottom: 31.44%;
  left: 53.6%;
}
.groupIcon,
.groupIcon1,
.groupIcon2,
.groupIcon3 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon1 {
  top: 34.75%;
  right: 35.56%;
  bottom: 51.66%;
  left: 58.52%;
}
.groupIcon1,
.groupIcon2,
.groupIcon3 {
  height: 13.59%;
  width: 5.92%;
}
.groupIcon2 {
  top: 42.72%;
  right: 43.4%;
  bottom: 43.68%;
  left: 50.68%;
}
.groupIcon3 {
  top: 26.59%;
  right: 27.83%;
  bottom: 59.82%;
  left: 66.25%;
}
.groupIcon4 {
  height: 40.53%;
  width: 2.41%;
  top: 22.46%;
  right: 40.33%;
  bottom: 37.01%;
  left: 57.26%;
}
.groupIcon4,
.groupIcon5,
.groupIcon6,
.groupIcon7,
.groupIcon8,
.groupIcon9 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon5 {
  height: 45.06%;
  width: 2.4%;
  top: 14.26%;
  right: 34.56%;
  bottom: 40.67%;
  left: 63.04%;
}
.groupIcon6,
.groupIcon7 {
  height: 13.63%;
  width: 5.94%;
  top: 21.99%;
  right: 39.61%;
  bottom: 64.38%;
  left: 54.45%;
}
.groupIcon7 {
  top: 13.94%;
  right: 31.76%;
  bottom: 72.43%;
  left: 62.29%;
}
.groupIcon8 {
  height: 36.56%;
  width: 16.12%;
  top: 51.89%;
  right: 27.38%;
  bottom: 11.55%;
  left: 56.5%;
}
.groupIcon9 {
  height: 17.17%;
  width: 8.73%;
  top: 68.26%;
  right: 40.46%;
  bottom: 14.57%;
  left: 50.81%;
}
.hThng1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.hThng,
.qunLXp {
  position: absolute;
  left: 1046px;
  color: var(--orange-orange-500);
  text-align: center;
}
.hThng {
  top: 407px;
  font-size: var(--reg4-size);
  line-height: 51px;
  display: inline-block;
  width: 142px;
  height: 54px;
}
.qunLXp {
  top: 454px;
  font-size: var(--xbold-size);
  line-height: 54px;
  font-weight: 900;
}
.saiMtKhu {
  position: absolute;
  top: 0;
  left: 24px;
  line-height: 21px;
}
.warningIcon {
  position: absolute;
  top: 0.5px;
  left: 0;
  width: 20px;
  height: 20px;
}
.saiMtKhuHocTnNgNhParent {
  position: absolute;
  top: 471px;
  left: 94.23px;
  width: 233px;
  height: 21px;
  font-size: var(--reg3-size);
  color: var(--red);
}
.saiMk {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--bg);
  width: 100%;
  height: 810px;
  overflow: hidden;
  text-align: left;
  font-size: var(--reg2-size);
  color: var(--color-darkslategray);
  font-family: var(--reg4);
}
