.search-box {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: hidden;
  outline: none;
}

.search-box span {
  cursor: pointer;
}
