.input-field-service {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field-service input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: hidden;
  outline: none;
  font-size: 16px;
  text-indent: 6px;
  max-width: 120px;
}

.input-field-service span {
  cursor: pointer;
}

.input-field-service-view {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field-service-view input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: hidden;
  outline: none;
  font-size: 16px;
  text-indent: 6px;
  max-width: 92px;
}

.input-field-service-view span {
  cursor: pointer;
}
