@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --reg4: Nunito;
  --font-open-sans: "Open Sans";

  /* font sizes */
  --reg-size: 12px;
  --reg3-size: 14px;
  --bold2-size: 16px;
  --reg2-size: 18px;
  --bold1-size: 20px;
  --bold3-size: 22px;
  --bold-size: 24px;
  --reg4-size: 34px;
  --xbold-size: 36px;

  /* Colors */
  --bg: #f6f6f6;
  --gray-gray-50: #eaeaec;
  --white2: #fff;
  --gray-blue-gray-5-text: #535261;
  --gray-gray-300: #7e7d88;
  --gray-gray-500: #282739;
  --orange-orange-50: #fff2e7;
  --orange-orange-400: #ff9138;
  --orange-orange-500: #ff7506;
  --orange-orange-200: #ffc89b;
  --gray-gray-100: #d4d4d7;
  --orange-orange-600: #bf5805;
  --color-darkslategray: #37474f;
  --red: #e73f3f;

  /* Gaps */
  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-lg: 12px;

  /* Paddings */
  --padding-2xs: 4px;
  --padding-xs: 8px;
  --padding-sm: 10px;
  --padding-md: 12px;
  --padding-lg: 16px;
  --padding-xl: 24px;
  --padding-2xl: 270px;

  /* border radiuses */
  --br-2xs: 4px;
  --br-xs: 6px;
  --br-sm: 8px;
  --br-md: 10px;
  --br-lg: 12px;
  --br-xl: 16px;

  /* Effects */
  --pink-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
  --down: 0px 0px 6px #e7e9f2;
}
